.am-search-cancel {
  color: #d51807 !important;
}

.am-picker-popup-item {
  color: #d51807 !important;
}
.am-picker-popup-title {
  color: #000 !important;
}
.am-search {
  padding-left: 3px !important;
  padding-right: 3px  !important;
  border-radius: 4px;
}
.am-search-input {
  height: 38px !important;
}
.am-search-input .am-search-synthetic-ph {
  height: 38px !important;
  line-height: 38px !important;
}
.am-search-input input[type=search] {
  height: 38px !important;
}
.am-search-input .am-search-clear {
  height: 27px !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.Index {
  padding-top: 55px;
}

.nav-header {
  background: white;
  padding: 5px 0;
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  .nav-container {
    display: flex;
    .list, .cart {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 50%;
        max-height: 45px;
      }
      .img {
        height: 100%;
        width: 100%;
        text-align: center;
      }
    }
    .search {
      width: 70%;
    }
  }
}

.menu-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 10000;
  background: white;
  color: #666;
  > div {
    background: #eee;
    margin-bottom: 3px;
    box-sizing: border-box;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .head {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top {
      text-align: right;
      padding: 10px 10px 0 0;
      align-self: flex-end;
      font-size: 14px;
      span {
        display: inline-block;
        height: 20px;
        width: 20px;
        background: url("/img/close.png") no-repeat center / 100% 100%;
        opacity: .5;
      }
    }
    .logo {
      margin-bottom: 10px;
      img {
        width: 80px;
      }
    }
    .operation {
      margin-bottom: 10px;
      font-size: 16px;
      .a {
        color: #666;
      }
    }
    .text {
      text-align: center;
      img {
        max-width: 94%;
      }
    }
  }
  .menu-list {
    .menu-item {
      box-sizing: border-box;
      padding-left: 60px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 3px;
        margin-right: 20px;
        background-size: 100% 100%;
      }
    }
  }
  .bottom-logo {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
      opacity: .3;
    }
  }
}